@font-face {
    font-family: 'OpenSansModified';
    src: url('/obfuscated-blog/assets/fonts/main.ttf') format('truetype'); /* base url */
    font-weight: normal;
    font-style: normal;
}

#main_content,
#main_content > *
{
    font-family: 'OpenSansModified', sans-serif !important;
    word-break: break-all;
    overflow-wrap:break-word;
}
